<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- CSI Kameras size: 20.8mm long , 16mm  diameter -->
    
    <xacro:property name="front_camera_xyz" value="0.122 0.0 0.022"/>
    <xacro:property name="front_camera_rpy" value="0.0 ${pi_half} 0.0"/>
    <xacro:property name="right_camera_xyz" value="0.0 -0.06 0.022"/>
    <xacro:property name="right_camera_rpy" value="1.5708 0.0 0.0"/>

    <xacro:property name="rear_camera_xyz" value="-0.122 0.0 0.022"/>
    <xacro:property name="rear_camera_rpy" value="0.0 1.5708 0.0"/>
    <xacro:property name="left_camera_xyz" value="0.0 0.06 0.022"/>
    <xacro:property name="left_camera_rpy" value="1.5708 0.0 0.0"/>
    <xacro:property name="pi_half"   value="1.5708"/>

    <xacro:macro name="camera_link_and_joint" params="link_name camera_xyz camera_rpy">
        <link name="${link_name}">
            <visual>
                <geometry>
                    <cylinder radius="0.01" length="0.02"/>
                </geometry>
                <material name="black">
                    <color rgba="0.0 0.0 0.0 1.0"/>
                </material>
            </visual>
        </link>
        <joint name="${link_name}_joint" type="fixed">
            <parent link="base_link"/>
            <child link="${link_name}"/>
            <origin xyz="${camera_xyz}" rpy="${camera_rpy}"/>
        </joint>
    </xacro:macro>
    
    <xacro:camera_link_and_joint
        link_name="front_camera_link"
        camera_xyz="${front_camera_xyz}"
        camera_rpy="${front_camera_rpy}"/>
    <xacro:camera_link_and_joint
        link_name="right_camera_link"
        camera_xyz="${right_camera_xyz}"
        camera_rpy="${right_camera_rpy}"/>
    <xacro:camera_link_and_joint
        link_name="rear_camera_link"
        camera_xyz="${rear_camera_xyz}"
        camera_rpy="${rear_camera_rpy}"/>
    <xacro:camera_link_and_joint
        link_name="left_camera_link"
        camera_xyz="${left_camera_xyz}"
        camera_rpy="${left_camera_rpy}"/>



    <xacro:macro name="camera_sensor" params="link_name sensor_name topic_name">  
        <gazebo reference="${link_name}">
            <sensor name="${sensor_name}" type="camera">
                <always_on>true</always_on>
                <update_rate>30.0</update_rate>
                <topic>${topic_name}</topic>
                <camera>
                    <horizontal_fov>1.089</horizontal_fov>
                    <image>
                        <width>640</width>
                        <height>480</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.05</near>
                        <far>8.0</far>
                    </clip>
                </camera>
            </sensor>
        </gazebo>
    </xacro:macro>

    <xacro:camera_sensor
        link_name="front_camera_link"
        sensor_name="front_camera_sensor"
        topic_name="front_camera/image_raw"/>
    <xacro:camera_sensor
        link_name="right_camera_link"
        sensor_name="right_camera_sensor"
        topic_name="right_camera/image_raw"/>
    <xacro:camera_sensor
        link_name="rear_camera_link"
        sensor_name="rear_camera_sensor"
        topic_name="rear_camera/image_raw"/>
    <xacro:camera_sensor
        link_name="left_camera_link"
        sensor_name="left_camera_sensor"
        topic_name="left_camera/image_raw"/>

</robot>
