<?xml version="1.0"?>
<!-- 2 Intel RealSense D435 -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <link name="rgbd_link">
        <visual>
            <geometry><box size="0.09 0.025 0.025"/></geometry></visual>
        <collision><geometry><box size="0.09 0.025 0.025"/></geometry></collision>
        <xacro:box_inertia m="0.072" l="0.09" w="0.025" h="0.025" o_xyz="0 0 0" o_rpy="0 0 0"/>
    </link>
    <joint name="rgbd_joint" type="fixed">
        <parent link="base_link"/>
        <child link="rgbd_link"/>
        <origin xyz="0.0822 -0.0001 0.1582" rpy="-1.5708 0 -1.5708"/>
    </joint>